.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px ;
    width: 100%;
}

.footer-logo {
    position: absolute;
    box-sizing: content-box;
    padding: 10px;
    width: 100px;
    height: 40px;
    right: 10px;
    bottom: 15px;
}

.footer-number-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-number {
    padding: 0;
}

.footer-title {
    font-family: var(--title-text);
    font-size: 25px;
}

.footer-button {
    background-color: transparent;
    border: 2px solid black;
    padding: 10px;
    width: 150px;
    transition: 1s;
}

.footer-button:hover {
    cursor: pointer;
    background-color: black;
}

.footer-button-text {
    color: snow;
}

.rainbow {
    animation: color-change 2s linear;
    animation-iteration-count: 3;
}

.footer-icons-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.simpl-link {
    display: inline-block;
}

.icons {
    vertical-align: bottom;
}

@keyframes color-change {
    0% { color: snow; }
    33% { color: black; }
    100% { color: snow; }
}