@media (max-width: 425px) {
    .footer-number-block {
        flex-direction: column;
    }
    .footer-number {
        align-self: start;
    }
}

@media (max-width: 900px) {
    .right {
        right: 30px;
    }
    .left {
        left: 30px;
    }
}

@media (max-width: 768px) {
    .right {
        right: 20px;
    }
    .left {
        left: 20px;
    }
    .left, .right {
        font-size: 50px;
    }
    .footer-logo {
        top: auto;
        bottom: 15px;
    }
}

@media (max-width: 425px) {
    .close {
        top: 50px;
    }
    .right {
        display: inline-block;
        height: auto;
        top: auto;
        bottom: 20px;
        right: 60px;
    }
    .left {
        display: inline-block;
        height: auto;
        top: auto;
        bottom: 20px;
        left: 60px;
    }
    .left, .right {
        font-size: 75px;
    }
    .link {
        font-size: 18px;
    }
    .footer-logo {
        border-color: transparent;
    }
    .footer-number-block {
        gap: 5px;
    }
    .footer-title {
        font-size: 25px;
    }
}