.main-title {
    text-align: center;
    font-family: var(--title-text);
}

.scroll-baner {
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: hidden;
}

.main-foto-list {
    display: flex;
    padding: 4px 2px 0 2px;
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    position: relative;
    scroll-behavior: smooth;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 100%;
}

.main-foto-list::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

.main-foto-list-item {
    width: 100%;
    flex: 0 0 auto; 
    scroll-snap-align: center;
}

.scroll-baner-item {
    display: block;
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}










.slider-indicators {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px; /* Отступ сверху */
}

.slider-indicator {
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50%;
    background-color: #9e9e9e;
    border: none;
    cursor: pointer;
    outline: none;
}

.slider-indicator.active {
    background-color: #1a1a1a; /* Цвет активного индикатора */
    transform: translateY(0px)
}