.main-title {
    text-align: center;
    font-family: var(--title-text);
}

.scroll-baner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: hidden;
}

.main-foto-list {
    display: flex;
    padding: 4px 2px 0 2px;
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    position: relative;
    scroll-behavior: smooth;
    width: 100%;
}

.main-foto-list::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

.main-foto-list-item {
    width: 100%;
    flex: 0 0 auto; 
    scroll-snap-align: center;
}

.scroll-baner-item {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.scroll-baner-after, .scroll-baner-before{
    display: none;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    z-index: 10;
    position: absolute;
    margin-top: 4px;
    width: 20px;
    height: 100%;
}

.scroll-baner-after {
    top: 0;
    right: 10px;
}

.scroll-baner-before {
    top: 0;
    left: 10px;
}

.scroll-baner-before:hover, .scroll-baner-after:hover {
    cursor: pointer;
    opacity: 0.6;
}

.simbol {
    font-size: 20px;
    font-weight: 900;
    -webkit-animation: zoomInOut 1s infinite alternate;
    animation: zoomInOut 1s infinite alternate;
    color: snow;
}


@-webkit-keyframes zoomInOut { /* Для Safari */
    0% {
        -webkit-transform: translateZ(0);
            transform: translateZ(0);
    }
    100% {
        -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    }
}


@keyframes zoomInOut {
    0% {
      transform: translateZ(0); /* Исходное положение по оси Z */
    }
    100% {
      transform: translateZ(400px); /* Приближается к пользователю на 400px */
    }
}

.not-none-scroll-simbol {
    display: flex;
}






.slider-indicators {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px; /* Отступ сверху */
}

.none-indicators {
    display: none;
}

.slider-indicator {
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50%;
    background-color: #9e9e9e;
    border: none;
    cursor: pointer;
    outline: none;
}

.slider-indicator.active {
    background-color: #1a1a1a; /* Цвет активного индикатора */
    transform: translateY(0px)
}