@media (max-width: 768px) {
    .slogan {
        font-size: 18px;
    }
    .nav-menu {
        display: none;
    }
    .header-number {
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    .slogan {
        display: none;
    }
}